---
title: Ask
heading: Your chance to put questions to the Opposition.
changefreq: daily
priority: 0.9
image: popup_abbott@2x.png
description:  Simple tools enabling citizen journalism.
keywords: 'go ask Abbott, auspol, journalism'
script: jquery.cookie.js,questions.js
---
.row-fluid
  %img.pull-right(src="/images/popup_abbott@2x.png" height="225" width="225")
  %p.lead
    The Australian media have failed to hold the Federal Opposition to account.
    Here is a set of #{questions.size} questions you can tweet or email directly to
    the #{team_list.size} members of Tony Abbott’s team.
  %p.lead.text-success<
    %strong< If the media won’t hold the opposition to account, it’s up to ordinary citizens like us.
  %h3 Go Ask Abbott
  %p Or members of his team.
.row-fluid
  %form.form-horizontal
    .control-group
      %label.control-label(for="question") Question :&nbsp;
      %select#question.span8
        %option(value='-1')< Choose…
    .control-group
      %label.control-label(for="for-whom") For Whom :&nbsp;
      %select#for-whom.span8
        %option(value='')< Choose…
    .control-group
      %label.control-label(for="comm-type") Via :&nbsp;
      %select#comm-type
        %option(value='tweet')< Tweet
        %option(value='email')< Email
    .control-group
      %label.control-label(for="your-name") Your Name :&nbsp;
      %input#your-name(type="text" pattern="^[A-Z][a-z A-Z]+$")
      %p.help-inline This is not saved to any server, just used to fill in the email text.
    #summary.well.alert-info
    .form-actions
      %button#send.btn.btn-primary(type='button') Send
      %p#info.help-inline 