---
title: Song
heading: With apologies to Jefferson Airplane.
changefreq: daily
priority: 0.9
image: waskally_abbott@2x.png
description:  Sing this little song to the tune of White Rabbit.
keywords: 'go ask Abbott, auspol, song'
---
:scss
  p.poem {
    font-family: monospace;
  }
.row-fluid
  .span6.offset2
    %h2 Go Ask Abbott
    %p Sing to the tune of ‘White Rabbit’.
    %p.poem
      One poll makes you larger<br/>
      And one poll makes you small<br/>
      And the ones the media give you<br/>
      Don't do anything at all<br/>
      Go ask Abbott<br/>
      When he’s ten points on<br/>
      And if you go chasing Abbott<br/>
      And you know he’s going to fall<br/>
      Tell ‘em a Hockey playing poodle<br/>
      Has given you the call to<br/>
      Call Abbott<br/>
      When he was just small
    %p.poem
      When the men in the backroom<br/>
      Get up and tell you where to go<br/>
      And you’ve just worn some kind of lycra<br/>
      And your broadband’s moving <br/>
      slow<br/>
      Go ask Abbott<br/>
      I think he’ll know
    %p.poem
      When logic and proportion<br/>
      Have fallen sloppy dead<br/>
      And the White Knight’s taken the lead<br/>
      And the Red Queen’s left for dead<br/>
      Remember what the poodle said;<br/>
      "Feed YOUR DEBT…<br/>
      Feed your debt"
  .span4
    %img(src="/images/waskally_abbott@2x.png" height="225" width="225")
