---
title: List
heading: A list of Mr Abbott's team members
changefreq: daily
priority: 0.9
_image: 
description:  Use this list to contact members of Mr Abbott's team.
keywords: 'team, members, email, twitter'
script: jquery.tablesorter.min.js,jquery.tablesorter.widgets.min.js,jquery.tablesorter.pager.min.js
style: theme.bootstrap.css,jquery.tablesorter.pager.css
---
.row-fluid
  %table.tablesorter<
    %thead<
      %tr<
        %th< Name
        %th< Email
        %th< Twitter
    %tfoot<
      %tr<
        %th.pager.form-horizontal(colspan="3")
          %button.btn.first(type="button")<
            %i.icon-step-backward
          %button.btn.prev(type="button")<
            %i.icon-arrow-left
          %span.pagedisplay
          %button.btn.next(type="button")<
            %i.icon-arrow-right
          %button.btn.last(type="button")<
            %i.icon-step-forward
          %select.pagesize.input-mini(title="Select page size")<
            %option(selected="selected" value="10") 10
            %option(value="20") 20
            %option(value="40") 40
          %select.pagenum.input-mini(title="Select page number")
    %tbody<
      -team_list.each_with_index do |tm, i|
        %tr<
          %th< #{tm[:firstname]} #{tm[:surname]}
          %td<
            %a{:href=>'mailto:' + tm[:email]}<= tm[:email]
          %td<= (tm[:twitter] != 'unavailable') ? "@#{tm[:twitter]}" : 'unavailable'
:javascript
  $(function () {
    $.extend($.tablesorter.themes.bootstrap, {table: 'table table-bordered', header: 'bootstrap-header', footerRow: '', footerCells: '', icons: '', sortNone: 'bootstrap-icon-unsorted', sortAsc: 'icon-chevron-up', sortDesc: 'icon-chevron-down', active: '', hover: '', filterRow: '', even: '', odd: ''});
    $("table").tablesorter({theme: "bootstrap", headerTemplate: '{content} {icon}', widgets: [ "uitheme", "filter", "zebra" ], widgetOptions: { zebra: ["even", "odd"] }, headers: { 1: {sorter: false}}}).tablesorterPager({container: $(".pager"),cssGoto: ".pagenum",removeRows: false,output: '{startRow} - {endRow} / {filteredRows} ({totalRows})'});
  })
